:root {
   --color-white: #fff;
   --color-primary: rgb(174, 162, 247);
   --color-light-background: #f0f2f5;
   --color-dark-background: #363435;
   --color-text: #050505;
   --color-hover-items: rgb(230, 230, 230);
}

html,
body {
   padding: 0;
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
}

* {
   box-sizing: border-box;
}
