.container {
   width: 90%;
   margin: 0 auto;
}

.header {
   display: flex;
   justify-content: space-between;
   width: 100%;
   font-weight: 500;
   font-size: 16px;
   padding-top: 8px;
}
.signin {
   padding: 2px 8px;
}

.posts {
   margin-top: 24px;
}

.post {
   border: solid 2px;
   padding: 8px;
   margin: 16px 0;
}

.post:hover {
   cursor: pointer;
}

.title {
   font-weight: bold;
   margin-bottom: 8px;
}

.content {
}

.createButton {
}

.createButton:hover {
   cursor: pointer;
}
